$img_dir: '../img/';
$font-size-def: 10px;
$main-color1: #4b4b4b;
$main-color2: #fff;
$main-color3: #000;
$menu-color: #fff;
$yellow-color:  #ffe63d;
$pink-color:  #e84d76;
$blue-color:  #4eb3e6;
$bg-green: #39a34a;
$HB: "HelveticaBold";
$HI: "HelveticaItalic";
$HL: "HelveticaLight";
$HT: "HelveticaThin";
$HR: "HelveticaRoman";