%step-block{
	@extend .d_flex;
	background-color:  $yellow-color;
	@include border-radius(15px);
	padding: 1.5rem;
	font: 3rem $HB;
	color:  #000000;
	text-transform: uppercase;
	img{
		max-height: 6.4rem;
		max-width: 6.4rem;
		margin-right: 3rem;
	}
	@media (max-width: 480px){
		font-size: 2rem;
		img{
			max-height: 4.4rem;
			margin-right: 1rem;
		}
	}
}
%step{
	width: 20%;
	text-align: center;
	@include border-radius(7px);
	margin: 0 1px;
	span{
		font: 2.8rem $HB;
		margin: -1.5rem auto;
		@extend %center-flex;
	}
	@include br3{
		@include border-radius(5px);
		span{
			font-size: 2rem;
			margin: -1.15rem auto;
		}
	}
}
.plans{
	padding: 10rem 3rem 7rem;
	position: relative;
	@include br3{
		padding: 7rem 2rem;
	}
	&__head{
		text-shadow: 0px 0px 4px rgba(0, 108, 165, 0.75);
		&-big{
			font: 5.3rem $HB;
		}
		&-small{
			font: 4rem $HT;
			margin-bottom: 7rem;
		}
	}
	.custom-loading {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		top: 3rem;
		line-height: 411px;
		text-transform: uppercase;
		letter-spacing: .2em;
		color: #130508;
		font-size: 1.5rem;
		@include transition(all .3s ease);
		&.fade-out{
			zoom: 1;
			opacity: 0;
			z-index: -1;
		}
	}
	.find_steps{
		position: relative;
		.step_progress{
			position: relative;
			width: 100%;
			height: 14px;
			overflow: visible!important;
			@include br3{
				height: 9px;
			}
			.step_bar{
				position: absolute;
				width: 20%;
				height: 100%;
				top: 0;
				@include flex;
				@include justify-content(space-between);
				background: $blue-color;
				div{
					@extend %step;
					display: none;
					width: calc(100%);
					background: $pink-color;
					&:first-child{
						display: inline-block;
					}
					span{
						width: 4.5rem;
						height: 4.5rem;
						@include border-radius(49%);
						background: $pink-color;
						color: $main-color2;
						@include br3{
							width: 3.1rem;
							height: 3.1rem;
						}
					}
				}
			}
			.step_inv{
				@include flex;
				@include justify-content(space-between);
				height: 100%;
				div{
					@extend %step;
					background: $main-color2;
					span{
						width: 4.4rem;
						height: 4.4rem;
						@include border-radius;
						background: $main-color2;
						color: #2d6b8b;
						@include br3{
							width: 3rem;
							height: 3rem;
						}
					}
				}
			}
			.highlight_current_step{
				color:  #130508;
				font-size: 1.5rem;
				text-transform: uppercase;
				padding-top: 1.5rem;
				text-align: center;
				@include br3{
					font-size: 1.3rem;
				}
				span {
					width: 20%;
					float: left;
					margin-top: 1.5rem;
				}
			}
		}
		.choose{
			font: 2.8rem $HB;
			margin: 5rem 0 1.5rem;
			&:after{
				content: "";
				position: absolute;
				width: 8.8rem;
				height: 5.5rem;
				background: url($img_dir+'arrow-pink.svg') no-repeat center;
				background-size: 8.8rem 5.5rem;
				left: 33rem;
				top: 8rem;
				@include br3{
					left: 13rem;
					top: 11rem;
				}
			}
		}
		.find_step{
			@extend .d_flex;
			padding: 6rem 2rem 2rem 4rem;
			overflow: hidden;
			background: $main-color2;
			@include border-radius(20px);
			@include br2{
				padding: 4rem 2rem;
			}
			h4{
				font: 4rem $HT;
				color:  #130508;
			}
			&_content{
				.error_alert{
					color: #000; 
					font-size: 2rem;
					margin-top: 2rem;
				}
				&_one{
					width: calc(100% - 117px - 5rem);
					@include br1{
						width: 100%;
						margin-top: 1rem;
					}
					.first_step_div{
						@extend .d_flex;
						@include align-items(stretch);
						.start-survey{
							@extend %step-block;
							@extend %center-flex;		
							width: calc(50% - 7px);
							@include br2{
								width: 100%;
								margin: 1rem 0;
							}
							img{
								margin-right: 1.5rem;
							}		
							&:hover, &.selected{
								background: $pink-color;
								color: $main-color2;
								img{
									&.sblack{
										display: none;
									}
									&.swhite{
										display: block;
									}
								}
							}
						}
					}
					.class-next-step {
							display: none;
						}
					}
					&_two{
						width: calc(100% - 171px - 5rem);
						@include br1{
							width: 100%;
							margin-top: 1rem;
						}
						.step_2_years{
							@extend .d_flex;
							max-width: 350px;
							@extend .mx-auto;
							@extend %step-block;
							.step_years_right{
								@extend .d_flex;
								width: 100%;
							}
						}
					}
					&_three{
						width: calc(100% - 210px - 5rem);
						@include br1{
							width: 100%;
							margin-top: 1rem;
						}
						.step_3_height{
							@extend .d_flex;
							max-width: 470px;
							@extend .mx-auto;
							@extend %step-block;
						}
						.inputs_change{
							@extend .d_flex;
							@include br3{
								margin-right: 2rem;
								margin-left: auto;
							}
						}
					}
					&_four{
						width: calc(100% - 218px - 5rem);
						@include br1{
							width: 100%;
							margin-top: 1rem;
						}
						.step_4_lbs{
							@extend .d_flex;
							max-width: 350px;
							@extend .mx-auto;
							@extend %step-block;
						}
					}
					&_five{ 
						width: 100%;
						ul{
							margin-top: 2rem;
							@extend .d_flex;
							max-width: 100%;
							li{
								width: calc(100%/3 - 7px);
								height: 100px;
								margin: 7px 0;
								@extend %step-block;
								font: 2rem $HB;
								@include br1{
									width: calc(100%/2 - 7px);
								}
								@include br2{
									width:100%;
									height: 70px;
								}
								@include br3{
									font-size: 1.6rem;
								}
								span{
									display: inline-block;
									width: calc(100% - 4rem);
									margin-left: .5rem;
								}
								.input_single{
									@include flex;
									@include align-items(center);
								}
								input[type=checkbox]{
									display: none;
								}
								input[type=checkbox] + label {
									background: transparent;
									height: 2rem;
									width: 2rem;
									display: inline-block;
									padding: 0 0 0 0;
									vertical-align: middle!important;
									margin-left: 10px;
									margin-right: 10px;
									border: 2px solid #000;
									@include border-radius(3px);
									cursor: pointer;
									position: relative;
								}
								[type="checkbox"]:checked + label:after{
									content: "\e90b";
									font-family: "icomoon";
									position: absolute;
									font-size: 15px;
									width: 2rem;
									line-height: .8;
									color: #000;
									@include transition(all .2s);
									height: 2rem;
									text-align: left;
									left: 0;
									top: 2px;
									@include br3{
										font-size: 13px;
									}
								}
								[type="checkbox"]:not(:checked) + label:after {
									opacity: 0;
									@include transform(scale(0));
								}
							}
						}
					}
					input[class^='input_arrows']{
						width: 4rem;
						background: $yellow-color;
					}
					.fa{
						color: #000;
						font-size: 3rem;
						display: block;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						padding: 4px;
						padding-right: 3rem;
						cursor: pointer;
						@media (max-width: 480px){
							padding-right: 1rem;;
						}
					}
					.class-next-step, .class-prev-step{
						position: absolute;
						z-index: 600;
						top: -2.5rem;
						i{
							font-size: 6rem;
							@include transition(color .2s ease);
						}
					}
					.class-next-step {
						right: -6rem;
						@include br3{
							right: -4.5rem;
						}
					}
					.class-prev-step {
						left: -6rem;
						@include br3{
							left: -4.5rem;
						}
					}		
					.class-submit-step{
						text-align: center;
						input[type="submit"]{
							@extend %step-block;
							margin: 2rem auto;
							@include border-radius(2.8rem);
							padding: 1.5rem 3rem;
							font: 2rem $HB;
							cursor: pointer;
							&:hover{
								background: #e84d76;
								color: $main-color2;
							}
							@include br3{
								font-size: 1.6rem;
							}
						}
					}
				}
			}
			.hideStepp, .hideStepp .class-next-step, .hideStepp .class-prev-step{
				-webkit-animation: fade 1s;
				animation: fade 1s;
				opacity: 0;
				height: 0;
				overflow: hidden;
				padding: 0;
			}
			.showStepp, .showStepp .class-next-step, .showStepp .class-prev-step{
				opacity:1;
				height:auto
			}
		}
	}